/* ==========================================================================
    Let's build Todoist Neko
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

   // General Settings
   html {
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
   }
   *, *:before, *:after {
     -webkit-box-sizing: inherit;
             box-sizing: inherit;
   }

   .header{
    border: 1px solid #000;
    background-color: paleturquoise;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
   }


   .header button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;

   }

   .sidebar{
    border: 1px solid #000;
    background-color: rosybrown;

    width: 200px;
   }

   .content{
    display: flex;
    border: 1px solid #000;

    background-color: lightgreen;
   }
.tasks{
    border: 1px solid #000;
    background-color: lightblue;
    margin: 0 20px;
    padding: 0 20px;

}
.tasks button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
}

.project{
  display: flex;
  align-items: center;
}

.project__tail{
  display: none;
}

.project__tail:hover{
  display: block;
}

.project__head:hover + .project__tail{
  display: block;
}